.user-enroll {
  position: relative;
  margin: 20px auto;
}

.user-enroll .el-table__header {
  width: 100% !important;
}

.user-enroll .el-table__body {
  width: 100% !important;
}

.user-enroll .enroll-wrapper .enroll-nav {
  margin: 30px 0;
}

.user-enroll .enroll-wrapper .enroll-nav span {
  font-size: 14px;
}

.user-enroll .enroll-wrapper .enroll-nav span:nth-child(1) {
  color: #333333;
  line-height: 14px;
  cursor: pointer;
}

.user-enroll .enroll-wrapper .enroll-nav span:nth-child(1):hover {
  color: #186DB7;
}

.user-enroll .enroll-wrapper .enroll-nav span:nth-child(2) {
  font-size: 14px;
  color: #333333;
  margin: 0 10px;
}

.user-enroll .enroll-wrapper .enroll-nav span:nth-child(3) {
  color: #186DB7;
  cursor: pointer;
}

.user-enroll .enroll-wrapper .enroll-centent .centent-title {
  border-bottom: 2px solid #DDDDDD;
  box-sizing: border-box;
}

.user-enroll .enroll-wrapper .enroll-centent .centent-title .base-title {
  display: inline-block;
  font-size: 24px;
  line-height: 24px;
  padding-bottom: 10px;
  padding-top: 0;
  position: relative;
  top: 1px;
  font-weight: 600;
  border-bottom: 6px solid #186DB7;
}

.user-enroll .enroll-wrapper .enroll-centent .centent-from {
  margin: 30px 10px;
}

.user-enroll .enroll-wrapper .enroll-centent .centent-from .el-select {
  width: 100%;
}

.user-enroll .enroll-wrapper .enroll-centent .centent-from .submit-wrapper {
  text-align: center;
}

.user-enroll .enroll-wrapper .enroll-centent .centent-from .submit-wrapper .el-button {
  width: 100%;
  margin-top: 20px;
}

.origin-enter {
  padding: 30px 0px;
}

.origin-enter .el-select {
  width: 100%;
}

.origin-enter .el-cascader {
  width: 100%;
}

.origin-enter .table-pagesize {
  margin-top: 20px;
}

.origin-enter .table-pagesize .now-page {
  line-height: 35px;
  color: #666;
  float: left;
  font-size: 14px;
}

.origin-enter .table-pagesize .total-page .el-pagination {
  float: right;
}

.agent-manage .el-table {
  margin-bottom: 50px;
}

.agent-manage .el-date-editor.el-input {
  width: 100%;
}

.agent-manage .el-select {
  width: 100%;
}

.agent-manage .edit-msg {
  position: absolute;
  right: 0;
  z-index: 1;
}

.public-agent .tab-click {
  border-bottom: 1px solid #dcdee2;
  margin-bottom: 20px;
}

.public-agent .tab-click ul {
  display: inline-block;
  margin: 0;
  padding: 0;
}

.public-agent .tab-click ul li {
  margin: 0;
  display: inline-block;
  margin-right: 4px;
  padding: 6px 16px 6px;
  border: 1px solid #dcdee2;
  border-bottom: 0;
  border-radius: 4px 4px 0 0;
  transition: all .3s ease-in-out;
  background: #f8f8f9;
  font-size: 16px;
  color: #666666;
  font-weight: 400;
  cursor: pointer;
}

.public-agent .tab-click ul .active {
  color: #ffffff;
  background: #186DB7;
  border-color: #186DB7;
}
