.user-enroll{
    .el-table__header{
        width: 100% !important;
    }
    .el-table__body{
        width: 100% !important;
    }
    // font: 12px/1.5 "微软雅黑";
    position: relative;
    // width: 1200px;
    margin: 20px auto;
    // padding: 0 !important;
    // border: 1px solid grey;
    .enroll-wrapper{
      .enroll-nav{
        margin: 30px 0;
        span{
            font-size: 14px;
            &:nth-child(1){
                color: #333333;
                line-height: 14px;
                cursor: pointer;
                &:hover{
                    color: #186DB7;
                }
            }
            &:nth-child(2) {
                font-size: 14px;
                color: #333333;
                margin: 0 10px;
            }
            &:nth-child(3) {
                color: #186DB7;
                cursor: pointer;
            }
        }
      }
      .enroll-centent{
          .centent-title{
              border-bottom: 2px solid #DDDDDD;
              box-sizing: border-box;
              .base-title{
                display: inline-block;
                font-size: 24px;
                line-height: 24px;
                padding-bottom: 10px;
                padding-top: 0;
                position: relative;
                top: 1px;
                font-weight: 600;
                border-bottom: 6px solid #186DB7;
              }
          }
          .centent-from{
            margin: 30px 10px;
            .el-select{
                width: 100%;
            }
            .submit-wrapper{
                text-align: center;
                .el-button{
                    width: 100%;
                    margin-top: 20px;
                }
            }
          }
      } 
    }
}

// .intermediary-organisation{

// }

.origin-enter{
    padding: 30px 0px;
    .el-select{
        width: 100%;
    }
    .el-cascader{
        width: 100%;
    }
    .table-pagesize{
        margin-top: 20px;
        .now-page{
            line-height: 35px;
            color: #666;
            float: left;
            font-size: 14px;
        }
        .total-page{
            .el-pagination{
                float: right;
            }
        }
    }
}

.agent-manage{
    .el-table{
        margin-bottom: 50px;
    }
    .el-date-editor.el-input{
        width: 100%;
    }
    .el-select{
        width: 100%;
    }
    .edit-msg{
        position: absolute;
        right: 0;
        z-index: 1;
    }
}

.public-agent{
    .tab-click{
        border-bottom: 1px solid #dcdee2;
        margin-bottom: 20px;
        ul{
            display: inline-block;
            margin: 0;
            padding: 0;
            li{
                margin: 0;
                display: inline-block;
                margin-right: 4px;
                // height: 25px;
                padding: 6px 16px 6px;
                border: 1px solid #dcdee2;
                border-bottom: 0;
                border-radius: 4px 4px 0 0;
                transition: all .3s ease-in-out;
                background: #f8f8f9;
                font-size: 16px;
                color: #666666;
                font-weight: 400;
                // line-height: 25px;
                cursor: pointer;
            }
            .active{
                color: #ffffff;
                background: #186DB7;
                border-color: #186DB7;
            }
        }
    }
}